.avarta {
    width: 40%;
    margin: 2%;

}

.avarta img {
    width: 100%;
}


.row-2 {
    width: 75%;
    margin-left: 5%;
}

.container-1 {
    padding: 10px;
    display: flex;
}

.main-nav-list button {
    margin-bottom: 2%;
}

.caterories_footer {
    color: #777777;
}

#dataTable_filter {
    display: none;
}

.owl-controls {
    display: none;
}

.active-banner-slider .owl-controls .owl-nav {
    display: none;
}

#reply {
    display: none;
}

.dell_btn {
    border: 1px solid #e0e0e0;
    padding: 0px 28px;
    display: inline-block;
    line-height: 32px;
    border-radius: 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #222222;
    position: absolute;
    right: 100px;
    top: 14px;

}

.btn_bill {
    width: 100%;
    color: #fff;
    border: none;
    text-decoration: none;
    display: block;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    display: block;
    border-radius: 0px;
    line-height: 38px;
    width: 100%;
    text-transform: uppercase;
    border: none;

}

.btn_bill:hover {
    background: -webkit-linear-gradient(90deg, #ff6c00 100%, #ffba00 0%);



}
